<!-- INCLUDE site_header.html -->

<div id="main">
	<a href="{U_BUG_TRACKER}"><h2 class="bugs">{L_BUG_TRACKER}</h2></a>
	<p>{L_BUG_TRACKER_EXPLAIN}</p>

	<div class="forabg">
		<div class="inner"><span class="corners-top"><span/></span></span>
			<ul class="topiclist">
				<li class="header">
					<dl class="icon">
						<dt>{L_PROJECT_NAME}</dt>
						<dd class="description">{L_DESCRIPTION}</dd>

					</dl>
				</li>
			</ul>
			<ul class="topiclist forums">
				<!-- BEGIN projects -->
				<li class="row">
					<dl>
						<dt><a href="{projects.PROJECT_URL}" class="no-underline">{projects.PROJECT_TITLE}</a></dt>
						<dd>{projects.PROJECT_DESCRIPTION}</dd>
	
					</dl>
				</li>
				<!-- END projects -->
			</ul>
		<span class="corners-bottom"><span/></span></span></div>
	</div>

	<!-- IF .projects -->
	<div class="forabg">
	<div class="inner"><span class="corners-top"><span></span></span>
	<table id="bugs-projects" class="table1" cellspacing="0">
		<thead>
			<tr>
				<th width="200">{L_PROJECT_NAME}</th>
				<th>{L_DESCRIPTION}</th>
			</tr>
		</thead>
		<tbody>
			<!-- BEGIN projects -->
			<tr class="<!-- IF projects.S_ROW_COUNT is even -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
				<td><a href="{projects.PROJECT_URL}" class="no-underline">{projects.PROJECT_TITLE}</a></td>
				<td valign="top">{projects.PROJECT_DESCRIPTION}</td>
			</tr>
			<!-- END projects -->
		</tbody>
	</table>
	<span class="corners-bottom"><span></span></span></div>
	</div>
	<!-- ELSE -->
	<div class="panel">
		<div class="inner"><span class="corners-top"><span></span></span>
		<strong>{L_NO_PROJECTS}</strong>
		<span class="corners-bottom"><span></span></span></div>
	</div>
	<!-- ENDIF -->
</div>

<!-- INCLUDE site_footer.html -->